checkpoint/
__pycache__
model.py
model_old.py
T2R.py
images.tfrecords
data*
# test.tfrecord
# train.tfrecord
test_train.tfrecord
chess_action_image.py
optimizer.py
load_model.py
tensor2robot/
.mypy_cache
.vscode
7-*
eval/
export/
sixth_run
tensor2robot/
yapf/
checkpoint
events.*
graph.pbtxt
model.*
operative_config-0.gin